.main_b .inner a > img{
width: 100%;
margin-top: 20px;
}

.main_sub .sub_bg{
  width: 100%;
  height: 120px;
  background-color: rgb(211, 211, 211);
  display: flex;
  align-items: center;
}
.main_sub .sub_bg .inner{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main_sub .sub_bg .inner .img_con{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_sub .sub_bg .inner .img_con:hover{
  border: solid 3px #000;
  border-radius: 10px;
}

.main_sub .sub_bg .inner .img_con > h2{
  margin: 20px;
  font-family: Nanum Pen Script, cursive, sans-serif;
  font-size: 20px;
}
.main_sub .sub_bg .inner .img_con > h2:hover{
  cursor: pointer;
}


.mid_text > div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: Nanum Pen Script, cursive, sans-serif;
}
.mid_text > div > h1{
  margin-top: 80px;
  margin-bottom: 80px;
}
.galaxy_p .inner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.galaxy_p .inner > div{
  background-color: rgb(224, 224, 224);
  
}

.info > div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.info > div:first-child > span{
  font-weight: bold;
  font-size: 15px;

}
.img_info:hover{
  transform: scale(1.1);
}
.youtube .youtube__area{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
#player{
  border-radius: 30px;
  width: 100%;
  height: 860px;
}
.contant_1{
  padding-bottom: 100px;
}
.contant_img{
  display: flex;
  justify-content: center;
}
.contant_img a{
cursor: Default;
}
.contant_img a > img{
  position: relative;
  border-radius: 20px;
  
}
.contant_info{
  position: absolute;
  top: 30%;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.contant_info h2{
  color: #000;
  font-size: 50px;
  font-family: Nanum Pen Script, cursive, sans-serif;
}
.contant_info p{
  color: #000;
  font-size: 25px;
  margin: 30px 0;

}

.btn{
  width: 100px;
  height: 30px;
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.btn:active{
  cursor: wait;
}

.contant_2{
  height: 100%;
  margin-bottom: 100px;
}

.contant_2 .inner .contant_img .contant_info{
  left: 60%;
}
.main_sub .sub_bg .inner .promotion{
  display: none;
}

/* 스크롤 탑 버튼 */
#to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 42px;
  height: 42px;
  background-color: rgb(173, 173, 173);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.row {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 20px;
}
.row .text_:hover{
transform: scale(1.1);
}


.inner .row .text_ a{
  font-size: 30px;
  font-family: Nanum Pen Script, cursive, sans-serif;
  color: #000;
  display: block;
  margin-top: 30px;
}
.inner .row .text_ span{
  color: rgb(122, 122, 122);
  font-size: 15px;
}


@media screen and (max-width: 768px) {
  /* 모바일 */
  .row {
    flex-direction: column;
    justify-content: center;

  }

  [class*="col-"] {
    width: 100%;
  }

}

@media screen and (min-width:320px) and (max-width:767px){
  .main_sub .sub_bg .inner .img_con{
    display: none;
  } 
  .main_sub .sub_bg .inner .promotion{
  display: block;
  }
  .swiper-slide{
    display: flex;
    align-items: center;
  }
  .swiper-slide h2{
    margin: 20px;
    font-family: Nanum Pen Script, cursive, sans-serif;
    font-size: 23px;
    
  }
  .main_sub .sub_bg .inner .promotion .swiper-button-prev img{
    width: 50%;
  }
  .main_sub .sub_bg .inner .promotion .swiper-button-next img{
    width: 50%;
  }
  .main_sub .sub_bg .inner .promotion .swiper-slide{
    margin-left: 10px;
    
  }
  .row {
    flex-direction: column;
    align-items: center;

  }

  [class*="col-"] {
    width: 100%;
  }

}
@media screen and  (max-width:1100px){
  .contant_img{
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  [class*="col-"] {
    width: 100%;
  }

}