/* 공통스타일 */
*{
  box-sizing: border-box;
  user-select: none;
}
a{
  text-decoration: none;
}
p{
  font-family: Nanum Pen Script, cursive, sans-serif;
}

.logo{
  width: 100%;
  height: 100%;
}
.inner{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}


/* header */
/* Top__menu */
header{
  width: 100%;
  height: 120px;
}
.gnd__bg{
  width: 100%;
  background-color: #7f7f7f;
}

.inner .gnd{
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #7f7f7f;
}
.inner .gnd > div{
  display: flex;
}
.inner .gnd > div > a{
  display: block;
  margin-top:10px;
  margin-right: 7px;
  font-size: 13px;
  color: #000;
}
.inner .gnd > div > p{
  display: block;
  margin-top:10px;
  margin-right: 7px;
  font-size: 13px;
  color: #000;
}

.inner .gnd > div > a:active{
  color: #fff;
}




/* Main__menu */

.lnb__bg{
  width: 100%;
  background-color: #a5a5a5;
}
.lnb{
  
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a5a5a5;
}

.lnb .main__menu{
  width: 100%;
  display: flex;
}
.lnb .main__menu > li{
  position:relative;
  padding: 20px 50px 20px;
  font-family:Nanum Pen Script, cursive, sans-serif;
  font-size: 25px;
}
.lnb .main__menu > li a:hover{
  color: #000;

}
.lnb .main__menu > li:hover .sub__menu{
  display: block;
}

.lnb .main__menu .sub__menu{
  display: none;
  z-index: 1;
  width:100%;
  position: absolute;
  left: 0;
}
.lnb .main__menu .sub__menu li {
  text-align: center;
  white-space: nowrap;
}
.lnb .main__menu > li a{
  color: #f2f2f2;
  white-space: nowrap
}

.lnb .icon{
  display: flex;
  text-align: center;
  margin-top: 1px;

 
}
.lnb .icon > input{
  font-size: 13px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #808080;
}
.lnb .icon > input:focus{
  border-color: #f2f2f2;
}
.lnb .icon > a:hover{
  cursor: pointer;
}



/* Sub__menu */
.main__menu .sub__menu{
  position: absolute;
  margin-top: 2px;
  background-color: #333;
  border-radius: 5px;

}

.main__menu .sub__menu > li{
  margin: 10px;
}


/* section  */

/* BEST */

.main__bg{
  width: 100%;
  height: 400px;
  background-color: rgb(216, 84, 84);
}
.Middle > p{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
font-family:Nanum Pen Script, cursive, sans-serif;
}
.inner .best__case{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
 
}
.inner .best__case > div{
  text-align: center;
}
.inner .best__case > div > p{
font-size: 25px;
}
.inner .best__case > div > p+p{
font-size: 20px;
}
.inner .best__case > div > p:last-child{
  font-size: 15px;
}

.inner .best__case .best1 .title{
  color: rgb(245, 184, 194);
}
.inner .best__case .best1{
  color: rgb(0, 0, 0);
  
}
.inner .best__case .best1:hover{
  transform: scale(1.1);
  z-index: 9;
}
.inner .best__case .best1 .text__change{
  color: rgb(255, 1, 1);
  display: flex;
  justify-content: center;
}
.inner .best__case .best1 .text__change > p:first-child{
  text-decoration:line-through;
  color: #7f7f7f
}
.inner .best__case .best2 .title{
  color: rgb(5, 182, 34);
}
.inner .best__case .best2{
  color: rgb(0, 0, 0);
}
.inner .best__case .best2:hover{
  transform: scale(1.1);
  z-index: 9;
}
.inner .best__case .best2 .text__change{
  color: rgb(255, 1, 1);
  display: flex;
  justify-content: center;
}
.inner .best__case .best2 .text__change > p:first-child{
  text-decoration:line-through;
  color: #7f7f7f
}
.inner .best__case .best3 .title{
  color: rgb(240, 129, 3);
}
.inner .best__case .best3{
  color: rgb(0, 0, 0);
}
.inner .best__case .best3:hover{
  transform: scale(1.1);
  z-index: 9;
}
.inner .best__case .best3 .text__change{
  color: rgb(255, 1, 1);
  display: flex;
  justify-content: center;
}
.inner .best__case .best3 .text__change > p:first-child{
  text-decoration:line-through;
  color: #7f7f7f
}



/* 슬라이더 */
.promotion {
  width: 100%;
  background-color: #f6f5ef;
  overflow: hidden;
  position: relative;
  transition: height .4s;
}
.promotion .swiper{
  flex-shrink: 0;
}

.promotion .swiper .swiper-wrapper{
  width:100%;

}

.promotion .swiper .swiper-wrapper .swiper-slide > img{
  width:100%;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none;
}




/* phones */
.phone__model .hot{
  font-size: 35px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: pink;
  display: flex;
  justify-content: center;
  margin: 20px 0;

}
.phone__model .inner .phone__group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.phone__model .inner .phone__group > a img:hover{
  transform: scale(1.1,1.1);
  transition: transform .1s;
  

}
.phone__model .inner .phone__group > a img:hover .image-box{
display: block;
}



/* 더보기 버튼 */
.phone__model .inner{
  display: flex;
  justify-content: center;
}
.btn{
  margin: 20px 0;
  background-color: red;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s ;
  background: #5DC8CD;
}
.btn > a{
  font-size: 23px;
  color: #fff;
}

.btn:hover{

    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  }
  





/* 푸터영역 */

footer{
  background-color: #272727;
  border-top: 1px solid #333;
  height: 100px;
  position: relative;
}

footer .inner .menu{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
footer .inner .menu a{
  color: #fff;
  font-size: 12px;
}
footer .inner .menu a:hover{
  color: red;

}
footer .info{
  color: #fff;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer .sns{
  display: flex;
  justify-content: end;
  gap: 10px;
}



footer .sns > a > img{
  width: 30px;
  height: 30px;
  margin-top: 10px; 
}
footer .sns > a:first-child{
  margin-left: 40px;
}


footer .sns > a:last-child{
  margin-right: 40px;
}

footer .copyright{
  margin-top: 10px;
  color: #fff;
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  left: 40%;
  margin: 0 auto;
}









/* 반응형 만들기 */


.gnd .btn-hamburger{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 75px;
}
.gnd .btn-hamburger > span{
  font-size: 50px;
  color: #333;
}
.gnd .btn-hamburger > span:active{
  color: #fff;
}

@media screen and (max-width:767px){

.lnb .main__menu{
  flex-direction: column;
}
  .gnd .btn-hamburger{
  display: block;
}
.inner .gnd > div {
  display: none;
}
.lnb{
  display: none;
}
.main__bg{
  display: none;
}
.best__case .best1{
  width: calc(100% - 6px);
  
 
}
.best__case .best2{
  width: calc(100% - 6px);
  
 
}
.best__case .best3{
  width: calc(100% - 6px);
  
 
}
.lnb.active{
  display: block;
 }
}