* {
	box-sizing: border-box;
}
 
.snow{
	margin: 0;
	background-color: rgb(255, 255, 255);
}
 
.fa-snowflake {
	animation: fall 5s linear forwards;
	color: rgb(0, 0, 0);
	position: absolute;
}
 
@keyframes fall {
	to {
		transform: translateY(100vh);
	}
}