.snow {
	width: 10px;
	height: 10px;
	opacity: 0;
	background: white;
	border-radius: 50%;
	animation: snow 10s linear infinite;
} 
.snow:nth-of-type(2n){ 
	width: 7px;
	height: 7px;
	animation-duration: 7s; /** 7초동안 내리겠다 **/
	animation-delay: 0s; 
	/** 1초 늦게 내림 **/
}
.snow:nth-of-type(2n+1){
	animation-duration: 8s;
	animation-delay: 2s;
}
.snow:nth-of-type(9n){
	animation-duration: 9s;
	animation-delay: 3s;
}

@keyframes snow {
	0%{
			opacity: 0; /** 투명도, 0이면 거의 안보이고 1이면 잘보임 **/
			transform: translateY(0);
	}
	20%{
			opacity: 1;
			transform: translateY(-15px, 20vh);
	}
	40%{
			opacity: 1;
			transform: translateY(15px, 40vh);
	}
	60%{
			opacity: 1;
			transform: translateY(-15px, 60vh);
	}
	80%{
			opacity: 1;
			transform: translateY(0, 80vh);
	}
	100%{
			opacity: 1;
			transform: translateY(100vh); /** 화면 세로크기는 100vh임 **/ 
	}}